nav {
  display: flex;
  align-items: center;
  height: 5vh;

  border: 2px solid black;
  background-color: #dadada;
  .title {
    width: 30%;


    background-color: #bababa;
    border: 2px solid red;
  }
  .links {
    width: 70%;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
      }
    }

    background-color: #cacaca;
    border: 2px solid green;
  }
}
